/********************************************
GENERAL
********************************************/

@font-face {
    font-family: 'bebas-neue-regular';
    src: url('BebasNeue Regular.otf'); /* IE9 Compat Modes */
    src: url('BebasNeue Regular.otf') format('opentype'), /* IE6-IE8 */
    url('BebasNeue Regular.otf') format('opentype'), /* Super Modern Browsers */
    url('BebasNeue Regular.otf') format('opentype'), /* Pretty Modern Browsers */
    url('BebasNeue Regular.otf')  format('opentype'), /* Safari, Android, iOS */ 

}



@font-face {
font-family: 'bebas-neue-light';
    src: url('BebasNeue Light.otf'); /* IE9 Compat Modes */
    src: url('BebasNeue Light.otf') format('opentype'), /* IE6-IE8 */
    url('BebasNeue Light.otf') format('opentype'), /* Super Modern Browsers */
    url('BebasNeue Light.otf') format('opentype'), /* Pretty Modern Browsers */
    url('BebasNeue Light.otf')  format('opentype') /* Safari, Android, iOS */
    
    }

    
ul{
padding: 0;
      
}


body{
      background-image: url(img/Low-Poly-Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    
}

/********************************************
START ANIMATION
********************************************/

#animLogo{
    max-height: 250px;
    display: block;
    fill-opacity:0;
    margin: 0 auto;
}

#logoLine3{

    stroke-dasharray:614px;
    stroke-dashoffset:-614px;
}

#logoLine4{

    stroke-dasharray:365px;
    stroke-dashoffset:-365px;
}


/*keyframes */

@keyframes offset{
    55%{
        stroke-dashoffset:0;
        stroke:rgba(255,255,255,1);
    }

     75%{
        stroke-dashoffset:0;
        stroke:rgba(255,255,255,1);
    }
    100%{
       stroke:rgba(0,0,0,0);
         stroke-dashoffset:0;

    }
}

@keyframes show{
    100%{
       fill-opacity:0.9;

    }
    60%{
       fill-opacity:1;

    }

   

   

}

@keyframes titleShow{
    100%{
       opacity:1;

    }

    
   

}

@keyframes disappear{
    100%{
       fill-opacity:0;

    }
}



#logoLine3{
    animation:offset 3.5s 1s ease-in-out  forwards;

}

#logoLine4{
    animation:offset 3.5s 1.5s ease-in-out forwards

}

.st0{
    animation:show 1s 4.5s cubic-bezier(.65,.2,.35,.8) forwards
}
.st1{
    animation:show 1s 5s cubic-bezier(.65,.2,.35,.8) forwards
}
.st2{
    animation:show 1s 3.5s cubic-bezier(.65,.2,.35,.8) forwards
}
.st3{
    animation:show 1s 4s cubic-bezier(.65,.2,.35,.8) forwards
}

#introTitle{
    opacity: 0;
    text-align: center;
  font-family:  "bebas-neue-light","Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;  
     color: white;
   animation:titleShow 2s 6.5s cubic-bezier(.65,.2,.35,.8) forwards;
    font-size:2em;
    letter-spacing: 10px;
    
}

#introTitle h1{
    margin: 10px;
}

/********************************************
NAVIGATION
********************************************/
#headerLogo{
    width: 25px;
    margin:10px 20px 10px 50px;
    opacity: 0;
    float: left;
     
}

#headerTitle{
    opacity: 0;
    left:5%;
    font-size: 2em;
    float: left;
    line-height: 72px;
    margin: 0;
    letter-spacing: 8px;
}

nav ul{
    margin: 0;
    padding: 0;
    list-style-type:none;   
    width: 60%; 
    margin: 0 auto;

}
header{
    position: absolute;
    width: 100%;
   
    top: 0;
    z-index: 99;
    color: white;
    
    background-image: url(img/Low-Poly-Bg.jpg);
    background-repeat: no-repeat;
    background-size: cover;

}


header *{
        
      transition: all 1s ease;
      font-family:  "bebas-neue-regular","Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;  
     
}


.navButtons{
  
    width: 33%;
    text-align: center;
    display: inline-block;
    opacity: 0;
    font-size: 32px;
    letter-spacing: 8px;
}

nav{
    width: 100%;
  ;
    position: absolute;
    top: 0px;
    opacity: 1;
    transition: all 1s ease;
    
 
    
}

.navButtons{
    position: relative;
    
    -webkit-backface-visibility: hidden;
}



.navButtons:hover{
    color: blue;

    }





.delayTransition1{
    animation:titleShow 1.5s 7s cubic-bezier(.65,.2,.35,.8) forwards;
    transition: all 1s ease;
}
.delayTransition2{
    animation:titleShow 1.5s 7.25s cubic-bezier(.65,.2,.35,.8) forwards;
    transition: all 1s 0.02s ease;
}
.delayTransition3{
    animation:titleShow 1.5s 7.5s cubic-bezier(.65,.2,.35,.8) forwards;
    transition: all 1s 0.04s ease;
}

.delayTransition4{
    animation:titleShow 1.5s 0.25s cubic-bezier(.65,.2,.35,.8) forwards;
    transition: all 1s 0.04s ease;
}



.secondNav{
    transform: translateY(16px);
    opacity: 1;
    
    
}



ul *{
     
      font-family:  "bebas-neue-regular","Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
      
}


.menuSelected{
    color:#faad51;
}


/********************************************
SECTION Work
********************************************/
.section{
  
    
}

.secContainer{
    width: 100%;   
     display: block;
}

.workContainer{
    width: 100%;
    display: block;
    margin: 0 auto;
    overflow: hidden;
    
}

.workContainer h1{
    margin-left: 2.5%;

}


.galleryContainer{
    
}

.projectThumb{
    width: 25%;
    margin:  0;
    height: 0;
    padding-bottom: 25%;
    display: block;
    float: left;
    background-color: red;
    opacity: 0;
}

.projectThumb img{
    width: 100%;
}



.projectThumb:nth-child(1){
    transition-delay: 0s;
}
.projectThumb:nth-child(2){
    transition-delay: 0.1s;
}
.projectThumb:nth-child(3){
    transition-delay: 0.2s;
}
.projectThumb:nth-child(4){
    transition-delay: 0.3s;
}
.projectThumb:nth-child(5){
    transition-delay: 0.4s;
}
.projectThumb:nth-child(6){
    transition-delay: 0.5s;
}
.projectThumb:nth-child(7){
    transition-delay: 0.6s;
}
.projectThumb:nth-child(8){
    transition-delay: 0.7s;
}

/********************************************
SECTION 2 Story
********************************************/
#profilePic{
    width: 10%;
    height: 0;
    left: 50%;
    position: relative;
    
    margin-left: -5%;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 10%;
    
    

}

#resumeLink{
    width: 10%;
    height: 0;
    left: 50%;
    position: relative;
    margin-top: -100px;
    margin-left: -5%;
    margin-bottom: 50px;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 10%;


}

#profilePic img{
    width: 100%;
}


.cd-container {
  /* this class is used to give a max-width to the element it is applied to, and center it horizontally when it reaches that max-width */
  width: 80%;
  max-width: 1170px;
  margin: 0 auto;
}
.cd-container::after {
  /* clearfix */
  content: '';
  display: table;
  clear: both;
}


#cd-timeline {
  position: relative;
  padding: 2em 0;
  margin-top: 0;
  margin-bottom: 2em;
  font-family:  "bebas-neue-light","Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;
    letter-spacing: 5px;
}
#cd-timeline::before {
  /* this is the vertical line */
    left: 50%;
  margin-left: -2px;
  content: '';
  position: absolute;
  top: 0;
  
  height: 100%;
  width: 3px;
  background: #faad51;
   
}


.cd-timeline-block{
    margin: 6em 0;
    opacity: 0;
    
}






.cd-timeline-block:after {
    content: "";
    display: table;
    clear: both;
}


.cd-timeline-content::before {
    content: '';
    position: absolute;
    right: -10%;
    height: 0;
    width: 90%;
    border: 1px solid #faad51;
    top: 30px;
    z-index: -1;
   
}




.cd-timeline-content{
    
    width:43%;
    color: white;
    position: relative;
    text-align: right;
}

.cd-timeline-content h2{
    margin: 0;
}

.cd-timeline-content p{
    font-family: 'PT Serif', serif;
    font-weight: 400;
    letter-spacing: 0px;
    
}

.cd-timeline-content img{
padding: 5px;
height: 50px;    
}

#kidPic{
    height: 100px;
}

.cd-timeline-img{
    width: 61px;
    height: 61px;
    left: 50%;
    margin-left: -30px;
    position: absolute;
    background-color: #372136;
    border: 1px solid #faad51;
    border-radius: 50%;
    overflow: hidden;

}

.cd-timeline-img img{
    position: relative;
    top: 50%;
    left: 50%;
    width: 100%;
    margin-left: -30px;
    margin-top:-30px;
    
}

.cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left: 128%;
    top: 6px;
    font-size: 16px;
  
    text-align: left;
}



.cd-timeline-content:after {
    content: "";
    display: table;
    clear: both;
}


*, *:after, *:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}


#travelMap{
    height: 150px;
}

.timeLineBlockOnLoad{
  
    transform: translateY(-40px);
}

/********************************************
SECTION 3 Contact
********************************************/

#contactGroup{
    width: 60%;
    margin: 0 auto;
}
.contactIcon{
    width:100%;
    margin: 3em auto;
    font-family:  "bebas-neue-light","Helvetica Neue", "Segoe UI", Segoe, Helvetica, Arial, "Lucida Grande", sans-serif;  
    color: white;
    text-align: center;

}

.contactIcon img {
    width: 16%;
    max-width: 100px;
    min-width: 30px;
}

.contactIcon p{
        margin: 0.5em auto;
        letter-spacing: 5px;
        font-size: 1.5em;
    }

.socialIcon img{
    width: 100%;
    min-width: 30px;
    padding: 4%;
    margin: 0 auto;
    display: block;
    max-width: 100px;
}



.divider{
    width: 60%;
    border: 1px #faad51 solid;
    margin: 0 auto;
}


#iconGroup{
    margin: 2em auto;
    width: 60%;
    display: block;

}


.socialIcon{
    width: 16%;
    float: left;
    margin: 2%;
}

/*Animation Stuff
*/
.animationInit{
    transform: translateY(100px);
}
.transparent{
    opacity: 0;
    
}
.elementsOnLoad{
    opacity: 1;
    transform: translateY(0px);
    transition: all 1s 0.04s ease;
}
/********************************************
RESPONSIVE
********************************************/



@media screen and (max-width:1000px){ 
     header{
        height: 90px;
    }
    #headerTitle{
        text-align: center;
        width: 90%;
        position: absolute;
        font-size: 1.5em;
        margin: 0 auto;
        top: -10px;
    }
    #headerLogo{
        width: 15px;
        margin-left: 30%;
    } 
    
    nav ul{
        width: 100%;
    }   
    .navButtons{

       top:50px;     
        color:blue;
        font-size: 32px;
        width: 32%;

    }
      #logoTitle{
        width:420px;
        margin: 0 auto;
    }  
    
    .projectThumb{
        width: 33%;
        padding-bottom: 33%;
    }
    
    #cd-timeline::before {
  /* this is the vertical line */
    left: 14%;
    margin-left: -2px;
    content: '';
    position: absolute;
    top: 0;
    }
    
    #profilePic{
    width: 14%;
    height: 0;
    left: 14%;
    position: relative;
    
    margin-left: -7%;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 14%;
    

    }
    
    .cd-container{
        width:100%;
    }
    .cd-timeline-img{
    width: 50px;
    height: 50px;
    left: 14%;
    margin-left: -25px;
    position: absolute;
    background-color: #221728;
    border: 1px solid #faad51;
    border-radius: 50%;
    overflow: hidden;

    }
    
    
    .cd-timeline-img img{
        margin-left: -24px;
        margin-top: -24px;
    }
    
    
 
    .cd-timeline-content{
        width: 77%;
        text-align: left;
        left: 25%;
        margin-top: -15px;
    }
    
    .cd-timeline-content::before {
    content: '';
    border: none;
    }
    
    .cd-timeline-content h2{
        font-size: 2em;
        padding-top: 6px;
    }
    
      .cd-timeline-content p{
        font-size: 1em;
        
    }
    
    .cd-timeline-content img{
        height: 40px;
    }
    
    #travelMap {
    height: 200px;
    }
    
    .cd-timeline-content .cd-date {
    position: absolute;
    width: 100%;
    left:0;
    top:auto;    
    font-size: 18px;
    text-align: left;
    }
    
    
 
    
    #resumeLink {
    width: 14%;
    height: 0;
    left: 14%;
    position: relative;
    margin-top: -100px;
    margin-left: -7%;
    border-radius: 50%;
    overflow: hidden;
    padding-bottom: 14%;
        margin-bottom: 100px;
    }
   
}



@media screen and (max-width:520px){ 
    header{
        height: 70px;
    }
    
    #logoTitle{
        width:280px;
        margin: 0 auto;
    }  
    
    .navButtons{
        top:50px;     
        color:red;
        font-size: 18px;
        width: 32%;
    }
    #headerTitle{
        text-align: center;
        width: 90%;
        position: absolute;
        font-size: 1.2em;
        margin: 0 auto;
        top: -10px;
        line-height: 70px;
    }
    #headerLogo{
        width: 15px;
        margin-left: 22%;
    }
    #animLogo{
        max-height: 125px;
    }
    #introTitle{
        font-size: 1em;
    }
    
    .projectThumb{
        width: 50%;
        padding-bottom: 50%;
    }
    
    
    
    #iconGroup, #contactGroup, .divider{
        width: 90%;
    }
  
    .contactIcon p{
        margin: 0.5em auto;
    }
    
    #profilePic{
    width: 60px;
    padding-bottom: 60px;
    left: 14%;
    margin-left: -30px;    

    }
    
    #cd-timeline::before {
  /* this is the vertical line */
    left: 14%;
    
   
    }
    
    .cd-timeline-block{
    margin: 4em 0;   
    }
    
    .cd-timeline-img{
    width: 32px;
    height: 32px;  
    margin-left: -15px;
    } 
     .cd-timeline-img img{
        margin-left: -15px;
        margin-top: -15px;
    }
    .cd-timeline-content h2{
        font-size: 1em;
        padding-top: 6px;
    }
    .cd-timeline-content p{
        font-size: 0.75em;
        
    }
    .cd-timeline-content img{
        height: 30px;
    }
     #travelMap {
    height: 125px;
    }
     .cd-timeline-content .cd-date {
       
    font-size: 12px;
  
    
    }
      #resumeLink {
        width: 60px;
        padding-bottom: 60px;
        left: 14%;
        margin-left: -30px;
        margin-top: -90px;

    }
    
}

@media screen and (max-width:1000px) and (orientation:landscape){ 
    #logoTitle{
        width:280px;
    }
    
     .navButtons{
        top:30px;     
        color:yellow;
        font-size: 18px;
        width: 32%;
    }
    
    
    header{
        height: 50px;
    } 
    #headerTitle{
        text-align: center;
        width: 90%;
        position: absolute;
        font-size: 0.8em;
        margin: 0 auto;
        line-height: 50px;
    }
    #headerLogo{
        width: 10px;
        margin: 5px 0 0 22%;
        
    }
    
    .contactIcon{
        margin: 2em auto;
    }
}

@media screen and (min-width:1000px){ 
    .cd-timeline-block:nth-child(even) .cd-timeline-content{

    float: right;
    
    text-align: left;
    }
    
    .cd-timeline-block:nth-child(1) .cd-timeline-content::before{
    width: 120px;
    right: -60px;
    }


    .cd-timeline-block:nth-child(2) .cd-timeline-content::before{
        width: 170px;
        left: -60px;
    }

    .cd-timeline-block:nth-child(3) .cd-timeline-content::before{
        width: 360px;
        right: -60px;
    }


    .cd-timeline-block:nth-child(4) .cd-timeline-content::before{
        width: 170px;
        left: -60px;
    }
    
    .cd-timeline-block:nth-child(even) .cd-timeline-content .cd-date {
    left: auto;
    right: 128%;
    text-align: right;
    }
}

/*
@media max-height:1400px; 
.navButtons{
   
    top:980px;
    
}

@media max-height:1700px; 
.navButtons{
   
    top:1040px;
    
}*/